fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
psycopg2-binary==2.9.10
python-jose==3.4.0
passlib[bcrypt]==1.7.4
pydantic==2.11.7
email-validator==2.2.0
python-multipart==0.0.20
scikit-learn==1.7.1
numpy==2.3.2
pandas==2.3.2
joblib==1.5.2
